# Database host
DB_HOST=
# Database port
DB_PORT=
# Database username
DB_USER=
# Password for database user
DB_PASSWORD=
# Database name
DB_NAME=

# Application port
API_PORT=
# JWT secret phrase
JWT_SECRET=

# Optional for pgadmin service in docker-compose
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
PGADMIN_PORT=